<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold fs-4" href="#">
      YouNext
    </a>

    <!-- Mobile Toggle -->
    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      (click)="toggleMenu()">

      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div
      class="navbar-collapse"
      [class.collapse]="!isMenuOpen">

      <ul class="navbar-nav mx-auto gap-lg-4 text-center">

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="closeMenu()">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="closeMenu()">
            About Us
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="closeMenu()">
            Programs
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="closeMenu()">
            Resources
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="closeMenu()">
            Contact Us
          </a>
        </li>

      </ul>

      <!-- Mobile Donate -->
      <div class="d-lg-none text-center mt-3">
        <button class="btn donate-btn w-50">
          Donate
        </button>
      </div>

    </div>

    <!-- Desktop Donate -->
    <div class="d-none d-lg-block">
      <button class="btn donate-btn">
        Donate
      </button>
    </div>

  </div>
</nav>