<!-- FEATURES SECTION -->

<section class="bg-light">
    <div class="container p-5">

        <div class="row text-center g-4">

            @for (feature of features; track feature.title) {

            <div class="col-md-6 col-lg-3">
                <div class="d-flex align-items-start gap-3">

                    <!-- <i class="bi {{ feature.icon }} text-warning fs-2"></i> -->
                    <img [src]="feature.img" class="img-fluid" alt="{{ feature.title }}" width="32" height="32">

                    <div class="text-start">
                        <h6 class="fw-bold mb-1">
                            {{ feature.title }}
                        </h6>

                        <small class="text-secondary">
                            {{ feature.desc }}
                        </small>
                    </div>

                </div>
            </div>

            }

        </div>

    </div>
</section>