<section class="bg-white">
  <div class="container-fliud p-5">

    <!-- Heading -->
    <div class="d-flex align-items-center gap-3 mb-2">
      <span class="text-uppercase small fw-semibold text-muted">
        Our Supporters
      </span>

      <hr class="flex-grow-1 m-0 opacity-20">
    </div>

    <!-- Logos -->
    <div class="row justify-content-between align-items-center g-4 mt-2 p-0">

      <div class="col-6 col-md-2">
        <img src="/images/Logo (1).svg" class="img-fluid opacity-75" alt="Supporter 1">
      </div>

      <div class="col-6 col-md-2">
        <img src="/images/Logo (2).svg" class="img-fluid opacity-75" alt="Supporter 2">
      </div>

      <div class="col-6 col-md-2">
        <img src="/images/Logo (3).svg" class="img-fluid opacity-75" alt="Supporter 3">
      </div>

      <div class="col-6 col-md-2">
        <img src="/images/Logo (4).svg" class="img-fluid opacity-75" alt="Supporter 4">
      </div>

      <div class="col-6 col-md-2">
        <img src="/images/Logo (5).svg" class="img-fluid opacity-75" alt="Supporter 5">
      </div>

    </div>

  </div>
</section>